.election-list__item {
  border: 1px solid #a9a9a9;
}

.election-list__row {
  margin: 20px 0;
}

.election-list__row-name {
  text-decoration: none;
}

.election-list-row__content {
  display: flex;
}
